<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hongchao.cms.service.mapper.HouseMapper">


    <select id="getHouseInfo" resultType="com.hongchao.cms.bean.HouseInfo">
    <![CDATA[
    SELECT * FROM house WHERE status = #{status} and if(#{province}, province = #{province}, TRUE)
    and if(#{city}, city = #{city}, TRUE)
    and if(#{district}, district = #{district}, TRUE)
    ]]>
    </select>

    <insert id="createHouse">
        INSERT INTO house(hname, addr, lng, lat, status, indoor, outdoor, res_info, province, city, district) VALUES
        (#{hname}, #{addr}, #{lng}, #{lat}, 1, "111111111", "111111111", "000000000", #{province}, #{city}, #{district});
    </insert>
    <!--<insert id="addCustomer" parameterType="com.godlikehzj.guangming.bean.Customer"  useGeneratedKeys="true" keyProperty="id">-->
    <!--INSERT INTO customer(name, phone, addr, area) VALUES (#{name}, #{phone}, #{addr}, #{area})-->
    <!--</insert>-->

    <update id="changeStatu">
        UPDATE house SET status = #{statu} WHERE id = #{hid}
    </update>

    <select id="getHouseById" resultType="com.hongchao.cms.bean.HouseInfo">
        SELECT * FROM house WHERE id = #{houseId}
    </select>

    <update id="editHouse">
        UPDATE house SET hname = #{hname}, addr = #{addr},lng=#{lng},lat=#{lat} WHERE id = #{houseId}
    </update>

    <select id="getFixHistory" resultType="com.hongchao.cms.bean.FixHistory">
        SELECT u.mobile, u.name, fh.hid, fh.fid as content, fh.createTime, fh.other_content,fh.status
        FROM users as u, fix_history as fh
        WHERE fh.hid = #{houseId} and fh.uid = u.id  ORDER BY fh.createTime DESC;
    </select>

    <select id="getFixContents" resultType="com.hongchao.cms.bean.FixContent">
        SELECT * FROM fix_content WHERE status = 1;
    </select>

    <select id="getUsersByhouseId" resultType="com.hongchao.cms.bean.User">
        SELECT * FROM users WHERE role = #{role} and houseIds = #{houseId} or
        houseIds like concat('%,', #{houseId}) or houseIds like concat(#{houseId}, ',%')
        or houseIds like concat('%,', #{houseId}, ',%')
    </select>

    <select id="getAchieveHis" resultType="com.hongchao.cms.bean.AchieveHistory">
        SELECT u.mobile, u.name, h.hname, a.createDate, a.num, a.weight
        FROM achieve_history as a, users as u, house as h
        WHERE a.hid = #{houseId} and u.id = a.uid and h.id = a.hid ORDER BY a.id DESC ;
    </select>

    <select id="getOrderHistory" resultType="com.hongchao.cms.bean.Order">
        SELECT u.mobile, u.name, c.description as commodityName, o.orderSn, o.createTime, o.pay_method ,c.price
         FROM pay_orders as o, users as u, commodity as c
        WHERE o.hid = #{houseId} and o.uid = u.id and c.id = o.commodityId ORDER BY o.id DESC ;
    </select>
</mapper>