<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hongchao.cms.service.mapper.UserMapper">


    <select id="getUsers" resultType="com.hongchao.cms.bean.User">
        SELECT * , (SELECT hname as lastHouse FROM house WHERE id = u.lastHouse) FROM users as u WHERE u.role = #{role} and u.status = #{status}
        and if(#{province}, u.province = #{province}, TRUE)
    and if(#{city}, u.city = #{city}, TRUE)
    and if(#{district}, u.district = #{district}, TRUE)
    </select>
    <!--<select id="getCustomer" resultType="com.godlikehzj.guangming.bean.Customer">-->
        <!--<![CDATA[-->
        <!--SELECT * FROM customer WHERE phone = #{phone}-->
        <!--]]>-->
    <!--</select>-->

    <!--<insert id="addCustomer" parameterType="com.godlikehzj.guangming.bean.Customer"  useGeneratedKeys="true" keyProperty="id">-->
        <!--INSERT INTO customer(name, phone, addr, area) VALUES (#{name}, #{phone}, #{addr}, #{area})-->
    <!--</insert>-->

    <insert id="addUser">
        INSERT INTO users(mobile, name, role, create_time, status, houseIds, province, city, district) VALUES
        (#{mobile}, #{name}, #{role}, now(), 1, #{houseIds}, #{province}, #{city}, #{district})
    </insert>

    <update id="changeStatu">
        UPDATE users SET status = #{status} WHERE id = #{userId}
    </update>

    <select id="getUserByid" resultType="com.hongchao.cms.bean.User">
        SELECT * FROM users WHERE id=#{userId}
    </select>

    <select id="getUserByMobile" resultType="com.hongchao.cms.bean.User">
        SELECT * FROM users WHERE mobile = #{mobile}
    </select>

    <update id="editUser">
        UPDATE users SET mobile = #{mobile}, name = #{name}, houseIds = #{houseIds} WHERE id = #{userId}
    </update>

    <select id="getAdminUser" resultType="com.hongchao.cms.bean.AdminUser">
        SELECT * FROM admin_user WHERE passport = #{passport}
    </select>

    <select id="getAchieveHisByUser" resultType="com.hongchao.cms.bean.AchieveHistory">
        SELECT h.hname, a.createDate, a.num, a.weight
        FROM achieve_history as a, house as h
        WHERE a.uid = #{userId} and h.id = a.hid and a.createDate BETWEEN #{from} and #{to} ORDER BY a.id DESC ;
    </select>

    <select id="getOrderHistory" resultType="com.hongchao.cms.bean.Order">
        SELECT h.hname, c.description as commodityName, o.orderSn, o.createTime, o.pay_method ,c.price, o.status
        FROM pay_orders as o,house as h, commodity as c
        WHERE o.uid = #{userId} and o.hid = h.id and c.id = o.commodityId and o.createTime BETWEEN #{from} and #{to} ORDER BY o.id DESC ;
    </select>

    <select id="getUsersByhouseId" resultType="com.hongchao.cms.bean.User">
        SELECT * FROM users WHERE role = #{role} and (houseIds = #{houseId} or
        houseIds like concat('%,', #{houseId}) or houseIds like concat(#{houseId}, ',%')
        or houseIds like concat('%,', #{houseId}, ',%'))
    </select>

    <select id="getSorterByHouseId" resultType="long">
        SELECT sorter FROM house WHERE id=#{houseId}
    </select>

    <update id="updateSorterByHouseId">
        UPDATE house SET sorter = #{uid} WHERE id=#{houseId}
    </update>
</mapper>